<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\API.FurnitureStore\API.FurnitureStore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="all_logs" fileName="c:\temp\API.FurnitureStore\all.log" />
		<target xsi:type="File" name="relevants_logs" fileName="c:\temp\API.FurnitureStore\relevants.log" />

		
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minLevel="Debug" writeTo="all_logs" />
		<logger name="*" minLevel="Warn" writeTo="relevants_logs" />
	</rules>
</nlog>